* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.page-container {
	font-family: 'Muli', Helvetica, sans-serif;
}

.header-container {
	width: 100%;
	background: url("images/tulips.jpg") no-repeat center;
	background-size: cover;
	height: 100vh;
	color: rgb(250, 250, 250);
	text-align: center;
}

.navbar {
	width: 100%;
	height: 50px;
	text-align: right;
	padding: 10px;
}

.link {
	display: inline-block;
	margin-right: 15px;
}

.name {
	text-align: center;
	display: inline-block;
	position: relative;
	top: 65vh;
	text-shadow: 1px 1px rgb(50, 50, 50);
	border: solid 2px rgb(250, 250, 250);
	padding: 30px;
}

.ghaea {
	font-size: 70px;
}

.pronounciation {
	font-size: 20;
	font-style: italic;
}

.section-header {
	width: 100%;
	padding: 2%;
	font-size: 36px;
	background: RGB(160, 196, 231);
	color: white;
	margin-bottom: 28px;
	text-align: left;
}

.about-container {
	padding: 10%;
	text-align: center;
}

.projects-container {
	height: 700px;
	text-align: center;
}

.contact-container {
	font-size: 26px;
	width: 100%;
	text-align: center;
}

.contact-content {
	padding: 10%;
}

.project {
	width: 24%;
	display: inline-block;
	height: 150px;
	vertical-align: top;
	margin-bottom: .5%;
	height: 40%;
	color: white;
	position: relative;
}

.propair {
	background: url("images/propair-thumbnail.png") no-repeat left;
	background-size: cover;
}

.form {
	background: url("images/form-thumbnail.png") no-repeat center;
	background-size: cover;
}

.concentration {
	background: url("images/concentration-thumbnail.png") no-repeat left;
	background-size: cover;
}

.transitapp {
	background: url("images/transitapp-thumbnail.png") no-repeat left;
	background-size: cover;
}

.surf {
	background: url("images/surf-thumbnail.png") no-repeat left;
	background-size: cover;
}

.chat {
	background: url("images/angular-chat-box-thumbnail.png") no-repeat left;
	background-size: cover;
}

.tabs {
	background: url("images/angular-tabs-thumbnail.png") no-repeat left;
	background-size: cover;
}

.cupcake {
	background: url("images/sprinkleBG.png") no-repeat left;
	background-size: cover;
}

.title {
	width: 100%;
	padding: 10px;
	background: rgba(157, 19, 123, .8);
}

.links {
	position: absolute;
	width: 100%;
	bottom: 10px;
}

.blurb {
	background: rgba(157, 19, 123, .8);
	padding: 10px 5px;
}

.hide {
	display: none;
}

.button {
	display: inline-block;
	width: 40%;
	border: solid 1px black;
	border-radius: 5px;
	padding: 4%;
	text-decoration: none;
	color: black;
	background: white;
}

.button:hover {
	background: RGB(157, 19, 123);
	color: white;
}

button {
	font-size: 28px;
	cursor: pointer;
	background: none;
	padding: 5px 15px;
	border: solid 1px black;
	border-radius: 5px;
	height: 50px;
}

a {
	text-decoration: none;
}
.github-img {
	height: 50px;
	width: 50px;
}

.contact-info {
	display: inline-block;
	vertical-align: top;
	margin: 15px 10px;
}

.email a {
	color: black;
}
